@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Rajdhani:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Rajdhani:wght@400;500&display=swap');


/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* Layout */
body {font-family: 'Noto Sans KR', sans-serif; color: #333333;}
.wrap {width: 100%; overflow: hidden;margin: 0 auto; position: relative; line-height: 1.2;}
.en {font-family: 'Rajdhani', sans-serif;}  /* 메인 텍스트 영어폰트 */
h2 {font-family: 'Rajdhani', sans-serif; font-size: 110px;}
span {color:#E21E2F; font-weight: bold;}


/* Top 버튼 */
.btn_gotop {position:fixed; bottom:35px; right:20px; z-index:99;display: none;}


/* menuOpen */
.menuOpen button.open {background: none; border: none; position: fixed; z-index: 100; right: 50px; top: 50%; transform: translateY(-50%); padding: 30px 22px; box-sizing: border-box; transition: all 0.4;}
.menuOpen button.open .gnb2 {width: 80px; position: absolute; opacity: 0; top: 30px; right: 23px;}
.menuOpen button.open img {width: 80px;}
.menuOpen button.open:hover .gnb2 {opacity: 1; cursor: pointer;}
.menuOpen button.open:hover .gnb {opacity: 0;}

/* menuWrap */
.menuOpen .menuWrap {width: 50%; height: 100vh; position: fixed; top: 0; right: 0; z-index: 100; background: #F4D35E}
.menuOpen .menuWrap ul {color: #1E1D1C; position: absolute; top: 50%; transform: translateY(-50%); left: 25%; font-size: 90px; font-family: 'Rajdhani', sans-serif;}
.menuOpen .menuWrap ul li a {margin-bottom: 20px; display: inline-block; position: relative; transition: all 0.3s;}
.menuOpen .menuWrap ul li a:hover, .menuOpen .menuWrap .tit li a:focus {transform: translateX(30px); color: #E21E2F; transition: all 0.3s;}
.menuOpen .menuWrap ul li a:hover:after, .menuOpen .menuWrap .tit li a:focus:after {width: 100%;}
.menuOpen .menuWrap .close {position: absolute; right: 50px; top: 50px;}

.menuOpen .menuWrap {width: 0; transition: 0; overflow: hidden; opacity: 0;}
.menuOpen .menuWrap span {color: #1E1D1C;}
.menuOpen .menuWrap span:hover {color: #E21E2F; transition: all 0.2s;}
.menuOpen .menuWrap.on {width: 30%; right: 0; transform: skewY(0deg);  transition: 0.5s; opacity: 1;}
.menuOpen .menuWrap .tit {display: none; }
.menuOpen .menuWrap.on .tit {display: block;}


/* header */
header {width: 100%; height: 130px;}
.innerHeader {padding: 0 250px; height: 130px;}
.innerHeader .gnb {width: 100%; display: flex; font-family: 'Rajdhani', sans-serif; font-size: 25px; justify-content: space-between; line-height: 130px;}
.innerHeader .gnb li:nth-child(1):hover,.innerHeader .gnb li:nth-child(2):hover, .innerHeader .gnb li:nth-child(6):hover, .innerHeader .gnb li:nth-child(7):hover {font-weight: bold; color: #E21E2F ; transition: all 0.2s;}

/* section.visual */
.visual {position: relative; width: 100%;height: 850px;}
.visual .inner .text {width: 100%;position: absolute; text-align: center; top: 20%; left: 52%; transform: translateX(-50%);}
.visual .inner .text p {font-family: 'Gowun Dodum', sans-serif; font-size: 40px; padding: 10px 0;}
.visual .inner .text h1 {font-family: 'Black Han Sans', sans-serif; font-size: 90px; color: #1E282D; text-shadow: 0 8px 9px #b4b4b4, 0px -2px 1px #fff; border-radius: 20px;}
.visual .inner .text span { text-shadow: 0 5px 8px #ff98a1, 0px -2px 1px #fff; border-radius: 20px;}
/* visual_circle 애니메이션 */
.visual .inner .scroll {position: absolute; bottom: 15%; left: 46.2%; animation-name: spin;animation-iteration-count: infinite; animation-timing-function: linear; transition: .4s; animation-duration: 20s;}

@keyframes spin {
    0% {transform: translate(0,0) rotate(0deg);}
    100% {transform: translate(0,0) rotate(360deg);}
}

/*visual-꾸밈이미지*/
.visual .inner img:nth-child(1) {position: absolute; width: 13px; top: 25%; left: 54%;}
.visual .inner img:nth-child(2) {position: absolute; width: 33px; top: 28%; left: 30%;}
.visual .inner img:nth-child(3) {position: absolute; width: 23px; top: 27%; left: 65%;}
.visual .inner img:nth-child(4) {position: absolute; width: 77px; top: 51%; left: 29%;}
.visual .inner img:nth-child(5) {position: absolute; width: 33px; top: 54%; left: 69%;}
.visual .inner img:nth-child(6) {position: absolute; width: 210px; bottom: 15%; left: 31%;}
.visual .inner img:nth-child(7) {position: absolute; width: 170px; bottom: 16%; right: 33%;}
.visual .inner img:nth-child(8) {position: absolute;  bottom: 11%; left: 10%; width: 350px;}
.visual .inner img:nth-child(9) {position: absolute;  bottom: 13%; right: 10%; width: 350px;}
.visual .inner img:nth-child(10) {position: absolute;  bottom: 21%; right: 47.6%; width: 60px;}


/* text-slide */
.slide {position: relative; background: #FFECAE; width: 100vw; max-width: 100%;height: 200px; overflow: hidden;line-height: 200px;}
.slide .text {font-family: 'Rajdhani', sans-serif; font-size: 70px; position: absolute; white-space: nowrap; will-change: transform; animation: slide 60s linear infinite;}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}

/* section.about */
.about {position: relative;background: #FFFBEE; width: 100%; padding: 200px 0;}
.about h2 {text-align: center; margin-bottom: 50px;}
.about .inner { width: 65%; margin: 0 auto;  font-family: 'Gowun Dodum', sans-serif; font-size: 18px; overflow: hidden; }
.about .inner .img {float:left; width: 35%;padding: 30px 0 0 50px;}
.about .inner .img img {width: 100%;}
.about .inner .textBox {float: right; line-height: 1.8; width:45%; margin-top: 50px;margin-left: 100px;}
.about .inner .textBox .hello {margin-bottom: 50px;}
.about .inner .textBox .hello .name {font-size: 26px; color: #333333; line-height: 1.2;}
.about .inner .textBox .birth { line-height: 1.4; margin-bottom: 30px;}
.about .inner a { border: 2px solid #E21E2F; border-radius: 15px; color: #E21E2F; padding: 7px 13px; background: #fff; font-size: 16px; display: inline-block;}

/* ABOUT 내 이미지 애니메이션 */
.img.motion {position: relative; animation-name: imgani; animation-duration: 1s;}
@keyframes imgani {
    0% {transform: translateY(50px)}
}
.img.motion:after {content: ''; width: 100%; height: 0%; background: #FFFBEE; position: absolute; top: 0; left: 0; animation-name: mask; animation-duration: 1.2s;}
@keyframes mask {
    0% {height: 90%;}
}
@keyframes slide-up {
    0% {opacity: 0; transform: translateY(100px);}
    30% {opacity: 0; transform: translateY(100px);}
}

.textBox.motion .hello{ animation-name: slide-up; animation-duration: 0.7s;}

.textBox.motion .birth{ animation-name: slide-up; animation-duration: 0.9s;}

.textBox.motion .btn{ animation-name: slide-up; animation-duration: 1.2s;}



/*about-꾸밈이미지*/
.about .image img:nth-child(1) {position: absolute; top: 26%; right: 35%; width: 25px;}
.about .image img:nth-child(2) {position: absolute; top: 75%; right: 58%; width: 18px;}
.about .image img:nth-child(3) {position: absolute; top: 15%; left: 37%; width: 50px; rotate: 110deg;}
.about .image img:nth-child(4) {position: absolute; top: 72%; left: 41%; width: 35px; rotate: 60deg;}
.about .image img:nth-child(5) {position: absolute; top: 42%; left: 20%; width: 20px;}

.about .inner a:hover {background: #E21E2F;color: #fff; transition: all 0.2s; font-weight: bold;}


/* section.skills */
.skills {width: 100%; background: #FFECAE; height: 420px; position: relative;}
.skills p {font-size: 55px; font-family: 'Rajdhani', sans-serif; position: absolute; top: 55px; left: 10%;}
.skills > img {position: absolute; top: 70px; left: 25%;}
.skills ul {padding: 0 0 0 8%;}
.skills ul li {float: left;}
.skills ul li img {width: 110px; padding: 190px 30px; height: auto;}


/* section.gallery */
.gallery {width: 100%; height: 2600px; background: #FFFBEE; position: relative;}
.gallery h2 {position: absolute; top: 9%;left: 15%;}
.gallery .text {position: absolute; top: 14%; left: 16%; line-height: 1.4;} 
.gallery .text .txt {font-family: 'Noto Sans KR', sans-serif; font-weight: lighter; font-size: 20px;}
.gallery .text .ex {font-family: 'Rajdhani', sans-serif; font-weight: bold; font-size: 17px;}


.gallery .clone {width: 520px;height: 650px;position: absolute; top: 19%; right: 8%; margin-right: 200px;}
.gallery .clone img {transition: all 0.4s;}
.gallery .clone > a:hover img {transform: scale(1.1);}
.gallery .clone a {display: block;}
.gallery .clone .button {width: 100px;height: 100px;border-radius: 100px; color: #fff;background: #E21E2F; font-size: 16px; text-align: center; box-sizing: border-box;line-height: 100px;position: absolute; top: 57%; right: 10%;}
.gallery .clone .txt {width: 73%; position: absolute; top: 65%; left: 3%;}
.gallery .clone .txt .tit {font-family: 'Gowun Dodum', sans-serif;color:#E21E2F; font-weight: bold; font-size: 30px; width: 400px; height: 80px;}
.gallery .clone .txt .tit img {vertical-align: text-bottom; display: inline-block;}
.gallery .clone .txt p {font-family: 'Noto Sans KR', sans-serif; font-size: 20px; line-height: 1.6;  }
.gallery .clone .txt p:nth-child(2) {margin-top: 75px;padding-left: 40px;text-align: center; width: 400px;}


.gallery .renewal {width: 520px;height: 650px;position: absolute; top: 45%; left: 13%;}
.gallery .renewal img {transition: all 0.4s;}
.gallery .renewal > a:hover img {transform: scale(1.1);}
.gallery .renewal a:nth-child(2) {display:block;} /* 이부분 체쿠체쿠 */
.gallery .renewal .button {width: 100px;height: 100px;border-radius: 100px; color: #fff;background: #E21E2F; font-size: 16px; text-align: center; box-sizing: border-box;line-height: 100px;position: absolute; top: 58%; right: 10%;}
.gallery .renewal .txt {width: 80%; position: absolute; top: 59%; left: 2%; }
.gallery .renewal .txt .tit {font-family: 'Gowun Dodum', sans-serif;color:#E21E2F; font-weight: bold; font-size: 30px; margin: 50px 0 0 40px;}
.gallery .renewal .txt .tit img {vertical-align: text-bottom;display: inline-block;}
.gallery .renewal .txt p {font-family: 'Noto Sans KR', sans-serif; font-size: 20px; line-height: 1.6;}
.gallery .renewal .txt p:nth-child(2) {text-align: center;margin-top: 18px;width: 400px;padding-left: 40px;}


.gallery .design {width: 520px;height: 650px;position: absolute; top: 72%; right: 5%;margin-right: 200px;}
.gallery .design a {display: block;}
.gallery .design .button {width: 100px;height: 100px;border-radius: 100px; color: #fff;background: #E21E2F; font-size: 16px; text-align: center; box-sizing: border-box;line-height: 100px;position: absolute; top: 58%; right: 10%;}
.gallery .design .txt {width: 73%; position: absolute; top: 69%; left:14%;}
.gallery .design .txt .tit {font-family: 'Gowun Dodum', sans-serif;color:#E21E2F; font-weight: bold; font-size: 30px; padding:4px 0; word-spacing: 10px;}
.gallery .design .txt .tit img {vertical-align: text-bottom;display: inline-block;}
.gallery .design .txt p {font-family: 'Noto Sans KR', sans-serif; font-size: 20px; line-height: 1.6;}
.gallery .design .txt p:nth-child(2) {margin-top: 18px;width: 600px; text-align: center; margin-left: -130px;}
.gallery .design img {transition: all 0.4s;}
.gallery .design > a:hover img {transform: scale(1.1);}

/*gallery-꾸밈이미지*/
.gallery .image img:nth-child(1) {position: absolute; top: 9%; left: 12%; width: 40px;}
.gallery .image img:nth-child(2) {position: absolute; top: 13%; left: 36%; width: 30px;}
.gallery .image img:nth-child(3) {position: absolute; top: 20%; left: 83%; width: 20px;}
.gallery .image img:nth-child(4) {position: absolute; top: 46%; left: 43%; width: 75px; rotate: -20deg;}
.gallery .image img:nth-child(5) {position: absolute; top: 64%; left: 40%; width: 30px;}
.gallery .image img:nth-child(6) {position: absolute; top: 88%; left: 16%; width: 30px;}
.gallery .image img:nth-child(7) {position: absolute; top: 93.3%; left: 13%;}


/* portfolio */
.portfolio {width: 100%; height: 1350px; background: #FFFBEE; position: relative;}
.portfolio .inner {width: 100%;}
.portfolio .inner .txt {position: absolute; top: 47%; left: 15%; line-height: 1.1;}
.portfolio .inner .txt p {font-family: 'Rajdhani', sans-serif; font-weight: bold; font-size: 40px; padding: 0 10px;}
.portfolio .inner > a { border: 2px solid #E21E2F; border-radius: 15px; color: #E21E2F; padding: 7px 13px; background: #fff; font-size: 16px; position: absolute; top: 62%; left: 15.3%;}
.portfolio .inner .swiper {position: absolute; top: 46%; left: 47%; width: 1000px; height: 350px; }


.portfolio .inner > a:hover {background: #E21E2F;color: #fff; transition: all 0.2s; font-weight: bold;}
.portfolio .swiper .swiper-wrapper {display: flex;}

.portfolio .swiper .swiper-slide.swiper-slide:hover {scale: 1.1;transition: all 0.4s;}
.portfolio .swiper .swiper-wrapper .swiper-slide img {width: 600px; height: 320px;}
.portfolio .swiper .swiper-button-next {color: rgb(29, 29, 29); position: absolute; top: 47%; right:17%;}
.portfolio .swiper .swiper-button-prev {color: rgb(29, 29, 29);top: 47%; left: 0%;}



/*portfolio-꾸밈이미지*/
.portfolio .image img:nth-child(1) {position: absolute; top: 29%; right: 26%;}
.portfolio .image img:nth-child(2) {position: absolute; top: 45%; left: 13%; width: 50px; rotate: 104deg;}
.portfolio .image img:nth-child(3) {position: absolute; top: 46.3%; left: 35.6%; width: 16px;}
.portfolio .image img:nth-child(4) {position: absolute; top: 61%; left: 21%; width: 20px; rotate: 70deg;}


/* text-slide2 */
.slide {position: relative; background: #FFECAE; width: 100vw; max-width: 100%;height: 200px; overflow: hidden;line-height: 200px;}
.slide .text {font-family: 'Rajdhani', sans-serif; font-size: 70px; position: absolute; white-space: nowrap; will-change: transform; animation: slide 60s linear infinite;}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}

/* footer */
footer {width: 100%; height: 530px; background: #F4D35E; position: relative;}
footer h2 {padding: 230px 0 0 347px;}
footer h2 span {color: #fff;}
footer .address {position: absolute; top: 60%; right: 15%; font-family: 'Gowun Dodum', sans-serif;}
footer .address p {font-size: 28px; font-family: 'Gowun Dodum', sans-serif;}
footer .address p:nth-child(2) {font-size: 23px;}
footer .address li {display: inline-block;padding: 20px 10px; vertical-align:middle;}
footer .address {border-bottom: 1px solid #707070; border-top: 1px solid #707070;}
footer .address li::before {content: ''; border-bottom: 1px solid #707070; position: absolute;left: 1px; bottom: 47%; width: 100%;}


/*footer-꾸밈이미지*/
footer .image img:nth-child(1) {position: absolute; top:35%; left: 37%; width: 40px;}
footer .image img:nth-child(2) {position: absolute; top:22.2%; right: 20%;}



/* 꾸밈이미지 애니메이션 */
@keyframes moveUpdown {
	0% {margin-top: 15px;} 
	100% {margin-top: 0px;}
    }

    .rstar {animation: moveUpdown 0.3s linear 0s infinite alternate; animation-duration: 0.7s;}
    .ystar {animation: moveUpdown 0.3s linear 0s infinite alternate; animation-duration: 1s;}

@keyframes rotate {
        0% {rotate: (0deg);}
        15%{transform: rotate(-15deg);}
        30%{rotate: (0deg);}
    }

    .rzig {animation-name: rotate; animation-duration: 3s; animation-iteration-count: infinite;}

    
@keyframes rotate2 {
        0% {rotate: (0deg);}
        15%{transform: rotate(15deg);}
        30%{rotate: (0deg);}
    }

    .yzig {animation-name: rotate2; animation-duration: 3s; animation-iteration-count: infinite;}

    
@keyframes rotate3 {
        40% {rotate: (0deg);}
        65%{transform: rotate(10deg);}
        90%{rotate: (0deg);}
    }
    .cat2 {animation-name: rotate3; animation-duration: 5s; animation-iteration-count: infinite;}


@keyframes rotate4 {
        10% {rotate: (0deg);}
        35%{transform: rotate(-10deg);}
        60%{rotate: (0deg);}
    }
    .cat1 {animation-name: rotate4; animation-duration: 5s; animation-iteration-count: infinite;}

@keyframes jump {
        0%   {transform: translate3d(-8%,0,0) ;}
        40%  {transform: translate3d(0%,10%,0); transform: rotate(-5deg)}
        100% {transform: translate3d(8%,0%,0);}
    }
    .cat3 {transform-origin: 50% 50%; animation: jump 2s linear alternate infinite;}


@keyframes wari {
    0% {rotate: -15deg;}
    25% {rotate: 30deg;}
    50% {rotate: -15deg;}
    75% {rotate: 30deg;}
    100% {rotate: -15deg;}
    }
.visual .inner img:nth-child(10) {animation-name: wari; animation-duration: 3.5s;animation-iteration-count: infinite;}


/* 텍스트 애니메이션 */
@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0; transform: translate3d(0,10px,0) skewY(8deg); transform-origin: top left;}
}

h1.motion {animation-name: textAni; animation-duration: .8s;}


@keyframes textAni2 {
    0% {opacity: 0; }
    30% {opacity: 0; transform: translate3d(0,40px,0) skewY(8deg); transform-origin: top left;}
}

.tit.motion b {transform:  translate3d(0,0,0) skewY(0deg); overflow: hidden; display: block; }
.tit.motion b i {overflow: hidden; display: block; animation-name: textAni2; animation-duration: 1s;}



.portfolio .inner .txt p.motion {animation-name: slide-up; animation-duration: 0.8s;}
.portfolio .inner .btn.motion {animation-name: slide-up; animation-duration: 0.8s;}


@keyframes slide_right {
    0% {opacity: 1; transform: translateX(50px);}
    100% {opacity: 1; transform: translateX(0);}
}

.gallery .clone.motion {animation-name: slide_right; animation-duration: 1.2s;}
.gallery .design.motion {animation-name: slide_right; animation-duration: 1.4s;}

@keyframes slide_right2 {
    0% {opacity: 1; transform: translateX(20px);}
    100% {opacity: 1; transform: translateX(0);}
}
.visual .me.motion {animation-name: slide_right2; animation-duration: 1s;}

@keyframes slide_left {
    0% {opacity: 1; transform: translateX(-50px);}
    100% {opacity: 1; transform: translateX(0);}
}

.gallery .renewal.motion {animation-name: slide_left; animation-duration: 1.4s;}

@keyframes slide_left2 {
    0% {opacity: 1; transform: translateX(-20px);}
    100% {opacity: 1; transform: translateX(0);}
}
.visual .me2.motion {animation-name: slide_left2; animation-duration: 1s;}

@keyframes slide1 {
    0% {opacity: 0; margin-top: 20px;}
    100% {opacity: 1; margin-top: 0;}
}

.about .inner.motion {animation-name: slide1; animation-duration: 1s; }
.gallery .text.motion {animation-name: slide1; animation-duration: 1s;}




/* 반응형 */

/*1600px*/
@media screen and (max-width:1600px) {
    .visual .inner {width: 80%;}
    .visual .inner .text h1 {font-size: 80px;transition: all 0.3s;}
    .visual .inner img.me {width: 22%; transition: all 0.3s;}
    .visual .inner img.me2 {width: 22%;transition: all 0.3s;}
    .visual .inner img.cat1 {width: 12%;transition: all 0.3s;}
    .visual .inner img.cat2 {width: 10%;transition: all 0.3s;}
    .visual .inner img.scroll {width: 10%;transition: all 0.3s;}
    .visual .inner img.fish {width: 4%; right: 47%; bottom: 20%;transition: all 0.3s;}
    .menuOpen .menuWrap.on {width: 50%;}
    .gallery .image .rzig2 {width: 27%;transition: all 0.3s;}
    .portfolio .inner > a {position: absolute; top: 62%; left: 15.3%; transition: all 0.3s;}
    .portfolio .swiper .swiper-wrapper .swiper-slide img {width: 500px; height: 280px;}
    .portfolio .swiper .swiper-button-prev {color: rgb(29, 29, 29);top: 47%; left: 8%;}
    .portfolio .swiper .swiper-button-next {color: rgb(29, 29, 29); position: absolute; top: 47%; left:70%;}
    footer .text h2 {padding: 230px 0 0 100px;transition: all 0.3s;}
}





/*1400px*/
@media screen and (max-width:1400px){    
    .visual .inner {width: 80%;}
    .visual .inner .text h1 {font-size: 75px;transition: all 0.3s;}
    .visual .inner img.me {width: 20%; transition: all 0.3s;}
    .visual .inner img.me2 {width: 20%;transition: all 0.3s;}
    .visual .inner img.cat1 {width: 10%;transition: all 0.3s;}
    .visual .inner img.cat2 {width: 8%;transition: all 0.3s;}
    .visual .inner img.scroll {width: 10%;transition: all 0.3s;}
    .visual .inner img.fish {width: 5%; right: 46%; bottom: 19%;transition: all 0.3s;}
    .about .inner .textBox {width: 40%;}
    .gallery .image .rzig2 {width: 20%;transition: all 0.3s;}
    .portfolio .inner .swiper {height: 250px;}
    .portfolio .swiper .swiper-wrapper .swiper-slide img {width: 400px; height: 240px;}
    .portfolio .swiper .swiper-button-next {color: rgb(29, 29, 29); position: absolute; top: 47%; left:60%;}
    footer .text h2 {padding: 230px 0 0 100px;transition: all 0.3s;}
}


/*1220px*/
@media screen and (max-width:1220px){
    .gallery .clone {width: 410px;height: 518px;position: absolute; top: 22%; right: 8%;margin-right: 100px;}
    .gallery .clone a img{width: 400px;}
    .gallery .clone .txt {position: absolute; top: 65%; left: -10%;}

    .gallery .renewal {width: 410px;height: 518px;position: absolute; top: 48%; left: 13%;}
    .gallery .renewal a img{width: 400px;}
    .gallery .renewal .txt {position: absolute; top: 60%; left: -10%;}
    .gallery .image img:nth-child(5) {position: absolute;top: 64%;left: 60%;}

    .gallery .design {width: 410px;height: 518px;position: absolute; top: 75%; right: 5%;margin-right: 100px;}
    .gallery .design a img{width: 400px;}
    .gallery .design .txt {position: absolute; top: 73%; left: 7%;}

    .gallery .image .rzig2 {display: none;transition: all 0.3s;}
    .portfolio .inner .txt {position: absolute; top: 22%; left: 50%;transform: translateX(-50%);}
    .portfolio .inner > a {display: none;}
    .portfolio .inner .swiper {position: absolute; top: 46%; left: 11%;height: 330px;}
    .portfolio .swiper .swiper-wrapper .swiper-slide img {width: 600px; height: 320px;}
    .portfolio .swiper .swiper-button-next {color: rgb(29, 29, 29); position: absolute; top: 47%; left:80%;}
    footer {height: 700px;}
    footer .text h2 {text-align: center;transition: all 0.3s; padding: 100px 0px;}
    footer .address {position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%);width: 50%;}
    footer .image img.rstar {position: absolute;top:9%; left: 70%;}
    footer .image img.cat3 {position: absolute;top:30%; left: 40%;}
    footer .address p {font-size: 20px;}
    footer .address li::before {content: ''; border-bottom: 1px solid #707070; position: absolute;left: 1px; bottom: 47%;}
}



 /*1102*/
@media screen and (max-width:1102px){
    .menuOpen button.open {padding: 30px 0px;}
    .menuOpen button.open .gnb2 {right: 0px;}
    .innerHeader {padding: 0 120px;}
    .innerHeader .gnb li:nth-child(1),
    .innerHeader .gnb li:nth-child(2),
    .innerHeader .gnb li:nth-child(6),
    .innerHeader .gnb li:nth-child(7) {display: none;transition: all 0.3s;}
    .visual .inner {width: 80%;}
    .visual .inner .text h1 {font-size: 60px;transition: all 0.3s;}
    .visual .inner img.fish {width: 5%; right: 46%; bottom: 18%;transition: all 0.3s;}
    .about .inner {width: 70%; transition: all 0.3s;}
    .about .inner .img {width: 85%;transition: all 0.3s;}
    .about .inner .textBox {float: left; width: 70%; text-align: center;transition: all 0.3s;}
    .portfolio .inner .swiper {height: 290px;}
    .portfolio .swiper .swiper-wrapper .swiper-slide img {width: 500px; height: 280px;}
    .portfolio .swiper .swiper-button-next { position: absolute; top: 47%; left:75%;}
    
}

 /*885*/
 @media screen and (max-width:885px){
    .menuOpen .menuWrap.on {width: 100%;}
    .visual {height: 750px;}
    .visual .inner .text {position: absolute; top: 5%; left: 52%; transform: translateX(-50%);}
    .visual .inner img:nth-child(1) {position: absolute; top: 4%; left: 65%;}
    .visual .inner img:nth-child(2) {position: absolute;top: 7%; left: 24%;}
    .visual .inner img:nth-child(3) {position: absolute; top: 30%; left: 78%;}
    .visual .inner img:nth-child(4) {position: absolute; top: 30%; left: 24%; width: 40px;}
    .visual .inner img:nth-child(5) {position: absolute;  top: 33%; left: 60%;}
    .visual .inner img:nth-child(6) {position: absolute; bottom: 15%; left: 40%;}
    .visual .inner img:nth-child(7) {position: absolute;  bottom: 16%; right: 40%;}
    .visual .inner img:nth-child(8) {position: absolute;  bottom: 12%; left: 21%; }
    .visual .inner img:nth-child(9) {position: absolute;  bottom: 13%; right: 19%; }
    .visual .inner img:nth-child(10) {position: absolute;  bottom: 54%; right: 47%;width: 3%;}
    .visual .inner .scroll {position: absolute; bottom: 50%; left: 46.2%;} 
    .about .inner {width: 75%;}
    .about .image img:nth-child(3) {position: absolute; top: 12%; left: 20%;}
    .about .image img:nth-child(5) {position: absolute; top: 42%; left: 13%;}
    .skills > img {position: absolute; top: 70px; left: 35%; width: 400px;}
    .portfolio .inner .swiper {position: absolute; top: 46%; left: 5%;height: 250px;}
    .portfolio .swiper .swiper-wrapper .swiper-slide img {width: 400px; height: 240px;}
    .portfolio .swiper .swiper-button-next {position: absolute; top: 47%; left:63%;}       
 }

  /*700*/
  @media screen and (max-width:700px){
    .menuOpen button.open {right: 50px;}
    .visual .inner img:nth-child(10) {position: absolute;  bottom: 53%; right: 47%;width: 3%;}
    .about .inner .img {width: 100%;padding: 0px 0px;}
    .about .inner .textBox {margin-left: 0px; width: 100%;}
    .about .inner .textBox .hello {font-size: 15px;}
    .about .image img:nth-child(2) {position: absolute; top: 58%; right: 85%; width: 18px;}
    .about .image img:nth-child(4) {position: absolute; top: 58%; left: 65%;}
    .portfolio .inner .swiper {position: absolute; top: 46%; left: 0px;height: 210px;}
    .portfolio .swiper .swiper-wrapper .swiper-slide img {width: 320px; height: 200px;}
    .portfolio .swiper .swiper-button-prev {top: 30%; left: 8%;}
    .portfolio .swiper .swiper-button-next {position: absolute; top: 30%; left:55%;}  
    footer .address p {font-size: 16px;}
  }

    /*500*/
    @media screen and (max-width:500px){
        h2 {font-size: 90px;}
        .innerHeader {padding: 0 50px;}
        .menuOpen button.open {right: 25px;}
        .menuOpen button.open img.gnb{width: 50px;}
        .menuOpen button.open img.gnb2{width: 50px;}
        .visual .inner img:nth-child(3) {position: absolute; top: 33%; left: 78%;}
        .visual .inner img:nth-child(4) {position: absolute; top: 30%; left: 4%; width: 40px;}
        .visual .inner img:nth-child(5) {position: absolute;  top: 33%; left: 60%;}
        .visual .inner img:nth-child(6) {position: absolute; bottom: 15.2%; left: 33%;width: 70px;}
        .visual .inner img:nth-child(7) {position: absolute;  bottom: 16%; right: 40%;width: 60px;}
        .visual .inner img:nth-child(8) {position: absolute;  bottom: 14%; left: 8%; width: 140px;}
        .visual .inner img:nth-child(9) {position: absolute;  bottom: 15%; right: 9%; width: 150px;}
        .visual .inner img:nth-child(10) {position: absolute;  bottom: 57%; right: 47%;width: 3%;}
        .visual .inner .scroll {position: absolute; bottom: 55%; left: 46.2%;}
        .about .inner {width: 65%;}
        .skills > img {position: absolute; top: 78px; left: 45%; width: 150px;}

        .gallery .clone {width: 310px;height: 518px;position: absolute; top: 22%; right: 8%;margin-right: 50px;}
        .gallery .clone a img{width: 300px;}
        .gallery .clone .txt {position: absolute; top: 58%; left: 0%;}
        .gallery .clone .button {width: 60px; height: 60px;font-size: 10px; line-height: 60px;position: absolute; top: 45%; right: 10%;}
        .gallery .clone .txt .tit img {width: 50px;}
        .gallery .clone .txt p:nth-child(2) {margin-top: -3px;padding-left: 0; text-align: center;width: 325px;}
        
        .gallery .renewal {width: 310px;height: 518px;position: absolute; top: 48%; left: 13%;}
        .gallery .renewal a img{width: 300px;}
        .gallery .renewal .txt {position: absolute; top: 49%; left: -2%;}
        .gallery .renewal .button {width: 60px; height: 60px;font-size: 10px; line-height: 60px;position: absolute; top: 45%; right: 10%;}
        .gallery .renewal .txt .tit img {width: 50px;}
        .gallery .renewal .txt p:nth-child(2) {text-align: center;margin-top: 18px;width: 358px;padding-left: 0;}

        .gallery .image img:nth-child(5) {position: absolute;top: 66%;left: 60%;}
    
        .gallery .design {width: 310px;height: 518px;position: absolute; top: 75%; right: 5%;margin-right: 50px;}
        .gallery .design a img{width: 300px;}
        .gallery .design .txt {position: absolute; top: 59%; left: 13%;}
        .gallery .design .button {width: 60px; height: 60px;font-size: 10px; line-height: 60px;position: absolute; top: 45%; right: 10%;}
        .gallery .design .txt .tit img {width: 50px;}
        .gallery .design .txt p:nth-child(2) {margin-top: 18px;width: 260px;text-align: center;margin-left: -17px;}

        .portfolio {width: 100%; height: 850px;}
        .portfolio .inner .swiper {position: absolute; top: 55%; left: -45px;height: 150px;}
        .portfolio .swiper .swiper-wrapper .swiper-slide img {width: 240px; height: 150px;}
        .portfolio .swiper .swiper-button-prev {top: 50%; left: 10%;}
        .portfolio .swiper .swiper-button-next {position: absolute; top: 50%; left:45%;} 

        footer .image img:nth-child(2) {position: absolute; top:37%; left: 30%; width: 170px;}
        footer .address {width: 60%;}
    }