@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}



/* layout */
html {font-size: 10px}
body {font-family: 'Noto Sans KR', sans-serif;}
.wrap {width: 100%; overflow: hidden;}
.chIcon {display: inline-block; width: 62px; height: 62px; position: absolute; bottom: 40px; right: 40px; z-index: 999; position: fixed; z-index: 999;}
h2, h3, p, a {letter-spacing: -1.2px;}
h2 {line-height: 1.3;}




/* header */
header {width: 100%; height: 7.4rem; line-height: 7.4rem; position: relative; position: fixed; z-index: 100; font-size: 1.6rem; font-weight: 500; color: #fff; transition: all 0.3s;}
header .headerInner {width: 79%; min-width: 1500px; height: 100%; margin: 0 auto; position: relative;}
header .headerInner .menu {width: 740px; display: flex; justify-content: space-between; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
header .headerInner .menu li {text-align: center; padding: 0 40px;}
header .headerInner .menu li a {display: block; width: 100%; height: 100%; transition: all 0.2s;}
header .headerInner .logo {position: absolute; left: 0; top: 0; transition: all 0.2s;}
header .headerInner .logo a {display: block; height: 100%; font-size: 1.9rem; font-weight: 300; letter-spacing: 0.05rem;}
header .headerInner .logo a span {display: inline-block; font-weight: 500; font-size: 1.85rem; letter-spacing: 0.03rem;}
header .headerInner .btn {position: absolute; top: 0; right: 0;}
header .headerInner .btn span {display: inline-block; margin-left: 0.8rem; width: 2.2rem; height: 22px; border-radius: 50%; background: #eee; position: relative; vertical-align: middle; margin-bottom: 5px; overflow: hidden;}
header .headerInner .btn span .lnr {position: absolute; top: 0.5px; left: -0.5px; color: #888; font-size: 1.1rem; font-weight: 600; transform: rotate(-45deg); width: 100%; height: 100%; box-sizing: border-box; border-radius: 50%;}
header .headerInner .bg {display: none; width: 150%; height: 74px; position: absolute; left: -25%; top: 0; z-index: -1; background: #fff; transition: all 0.5s;}
header .headerInner .gnbMo {display: none;}
    
    /* hover */
    header .headerInner .btn:hover span, header .headerInner .btn:focus span {background: #ffe100;}
    header .headerInner .btn:hover span .lnr, header .headerInner .btn:focus span .lnr {color: #191919; transition: all 0.2s;}
    header .headerInner .menu li a:hover, header .headerInner .menu li a:focus {color: #191919;}
    .menu:hover, .menu:focus {color: #888;}
    .menu:hover ~ .logo a, .menu:focus ~ .logo a {color: #191919;}
    .menu:hover ~ .btn a, .menu:focus ~ .btn a {color: #191919;}
    .menu:hover ~ .bg, .menu:focus ~ .bg {display: block; transition: all 0.3s;}

    /* header 스크롤 이벤트_on 클래스가 붙은 상태 */
    header.on {background: #fff; transition: all 0.5s;}
    header.on a {color: #000;}





/* section.visual */
.visual {width: 100%; height: 100vh; position: relative; overflow: hidden;}
.visual .slide {width: 100%;}
.visual .slide li {width: 100%; height: 100vh;}

/* bg*/
    .visual .slide li .bg {padding: 0; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; position: absolute;}
        /* 1920/954 is an aspect ratio of the video */
        /* @media screen and (max-aspect-ratio: 1920/954) {
            .bg .visualBg {width: auto; height: 100vh;}
        } */
    .visual .slide .slide1 .bg {background: url(../img/main_visual_1.jpg) no-repeat center/cover;  filter: brightness(0.5); opacity: 0.94;}
    .visual .slide .slide2 .bg {background: url(../img/main_visual_4.png) no-repeat center/cover; filter: brightness(0.5); opacity: 0.94;}
    .visual .slide .slide3 .bg {background: url(../img/main_visual_3.png) no-repeat center/cover; filter: brightness(0.5); opacity: 0.94;}
    .visual .slide .slide4 .bg {background: url(../img/main_visual_4.png) no-repeat center/cover; filter: brightness(0.6); opacity: 0.94;}
    .visual .slide .slide5 .bg {background: url(../img/main_visual_3.png) no-repeat center/cover; filter: brightness(0.6); opacity: 0.94;}


.visual .slide li .txtBox {width: 79%; min-width: 1500px; color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -40%); letter-spacing: -1.2px; }
.visual .slide li .txtBox h2 {width: 100%; font-size: 6.3rem; line-height: 1.2; margin-bottom: 50px; font-weight: 900; transform: translate(0, 15px); opacity: 0; transition: all 0.8s ease; font-family: 'Pretendard-Regular';}
.visual .slide li .txtBox h2 .br2 {display: none;}
.visual .slide li .txtBox .font {font-family: 'Poppins', sans-serif; font-weight: 600;}
.visual .slide li .txtBox .moreBtn {width: 220px;}
.visual .slide li .txtBox .moreBtn a {display: block; width: 100%; height: 100%; padding: 13px 0; border: 3px solid #fff; border-radius: 40px; box-sizing: border-box; text-align: center; font-weight: 500; font-size: 1.65rem; transform: translate(0, 30px); opacity: 0; transition: all 0.8s ease;}
.visual .slide li .counter {position: absolute; bottom: 65px; left: 50%; transform: translateX(-50%); font-weight: 500; color: #fff; font-size: 1.4rem; }
.visual .slide li .counter .num {color: #FFE100;}
.visual .slide li .counter .dot {display: inline-block; width: 5px; height: 5px; background: #fff; border-radius: 50%; margin: 0 8px; margin-bottom: 2.5px;}

/* visual 공통부분 */
.visual .slick-arrow {position: absolute; bottom: 65px; z-index: 20; text-indent: -9999px; border: none; cursor: pointer; background: none; }
.visual .slick-arrow::before {content: '\f053'; font-family: 'fontAwesome'; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 1.3rem; z-index: 999; text-indent: 0;}
.visual .slick-prev {left: 43vw;}
.visual .slick-next {right: 43vw;}
.visual .slick-next::before {content: '\f054';}

    /* section.visual motion animation */
    .visual .slide li.slick-active .txtBox h2 {transform: translate(0, 0); opacity: 1; transition: transform 0.45s ease-in-out, opacity 0.7s ease-out;}
    .visual .slide li.slick-active .txtBox .moreBtn a {transform: translate(0, 0); opacity: 1; transition: transform 0.5s ease-in-out, opacity 0.7s ease-out;}

    /* hover */
    .visual .slide li .txtBox .moreBtn:hover a, .visual .slide li .txtBox .moreBtn:focus a {background: #FFE100; border-color: #FFE100; color: black; transition: all 0.4s;}
    .visual .slick-arrow::after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; width: 40px; height: 40px; border: 2px solid #fff; border-radius: 50%; opacity: 0; transition: all 0.3s;}
    .visual .slick-arrow:hover::after, .visual .slick-arrow:focus::after {opacity: 1;}




/* section.news */
.news {width: 100%; overflow: hidden;}
.news .inner {width: 65%; min-width: 1244px; margin: 125px auto 200px; position: relative; overflow: hidden; padding-bottom: 15px;}
.news .inner .left {width: 45%; float: left;}
.news .inner .right {width: 45%; float: right;}
.news .inner .left > .titBox .img {display: block; height: 77px; line-height: 77px;}
.news .inner .left > .titBox .img:nth-child(3) {display: inline-block;}
.news .inner .left > .titBox .img:nth-child(4) {display: inline-block; margin-left: 10px; margin-bottom: 50px;}
.news .inner .left .newsBox1 {margin-top: 40px;}
.news .inner .newsBox {width: 100%; border-bottom: 1px solid #f4f4f4; padding-bottom: 72px; padding-top: 10px; margin-bottom: 62px;}
.news .inner .newsBox8, .news .inner .newsBox9 {border-bottom: none;}
.news .inner .newsBox .subTit {font-size: 1.4rem; color: #444; margin-bottom: 15px; font-weight: 400; position: relative; display: inline-block; transition: all 0.3s;}
.news .inner .newsBox .subTit .lian {display: inline-block; width: 30px; height: 30px; position: absolute; top: -5px; right: -35px;}
.news .inner .newsBox .titBox .tit {font-size: 2.1rem; color: #191919; margin-bottom: 20px; font-weight: 500;}
.news .inner .newsBox .titBox .tit span {transition: all 0.3s; border-bottom: 1px solid transparent; padding-bottom: 2px;}
.news .inner .newsBox .titBox .img {width: 100%; border-radius: 20px; overflow: hidden; margin-bottom: 20px;}
.news .inner .newsBox .titBox .img img {width: 100%;}
.news .inner .newsBox .hashTag ul {overflow: hidden;}
.news .inner .newsBox .hashTag ul li {float: left; margin-right: 5px; margin-bottom: 5px;}
.news .inner .newsBox .hashTag ul li a {display: block; width: 100%; height: 100%; font-size: 1.4rem; color: #666; font-weight: 400; padding: 4px 16px; background: #f4f4f4; border-radius: 20px; box-sizing: border-box; transition: all 0.3s;}
.news .inner .newsBox8 .img img {filter: brightness(97%);}
.news .inner .moreBtn {width: 100%; position: absolute; bottom: 0; text-align: center;}
.news .inner .moreBtn a {display: inline-block; height: 46px; font-size: 1.6rem; color: #191919; font-weight: 500; vertical-align: middle;}
.news .inner .moreBtn a span {display: inline-block; width: 46px; height: 46px; background: #191919; font-size: 2.5rem; color: #fff; border-radius: 50%; text-align: center; margin-left: 20px; padding: 3px; box-sizing: border-box; transition: all 0.3s;}

    /* hover */
    .news .inner .moreBtn:hover a span, .news .inner .moreBtn:focus a span {background: #ffe100; color: #191919;}
    .news .inner .newsBox .subTit:hover, .news .inner .newsBox .subTit:focus {color: #fcb900;}
    .news .inner .newsBox .subTit a::after {content: ''; position: absolute; display: block; left: auto; right: 0; width: 0; border-bottom: 1px solid #fcb900; transition: width 0.2s ease-in-out;}
    .news .inner .newsBox .subTit:hover a::after, .news .inner .newsBox .subTit:focus a::after {width: 100%; left: 0; right: auto;}
    .news .inner .newsBox .titBox:hover .tit span, .news .inner .newsBox .titBox:focus .tit span {border-bottom: 1px solid #191919; transition: all 0.2s;}
    .news .inner .newsBox .hashTag ul li:hover a, .news .inner .newsBox .hashTag ul li:focus a {background: #ddd; color: #191919;}




/* section.service */
.service {width: 100%; overflow: hidden; margin-bottom: 8.5vw;}
.service h2 {width: 65%; min-width: 1244px; color: #191919; font-size: 5.3rem; font-family: 'Pretendard-Regular'; font-weight: 900; letter-spacing: 1.1px; margin: 0 auto 50px;}
.service .marquee {margin-bottom: 40px;}
.service .slide .content {display: inline-block; width: 310px; height: 310px; margin-right: 30px; border-radius: 20px; overflow: hidden; position: relative;}
.service .slide .content img {width: 100%; height: 100%;}
.service .slide .content .tit {font-size: 2.6rem; position: absolute; left: 8%; bottom: -8%; font-weight: 600; width: auto;}
.service .slide .content .tit .smallTxt {display: block; width: auto; height: 100%; font-size: 1.3rem;}
.service .slide .content .tit .thin {font-weight: 400;}
.service .marqueeBottom .slide .content .tit {text-align: left;}
.service .slide .content .titWhite {color: #fff;}
.service .slide .content .font {font-family: 'Space Mono', monospace; word-spacing: -10px; font-weight: 700;}
.service .slide .content .smallTxt.font {word-spacing: -5px;}
/* hoverTxtBox */
.service .slide .content .hoverTxtBox {position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%; background: #0c27f3; color: #fff; transition: all 0.2s ease;}
.service .slide .content .hoverTxtBox .subTit {font-size: 1.6rem; font-weight: 600; margin-bottom: 15px; padding-top: 30px; padding-left: 30px;}
.service .slide .content .hoverTxtBox .txt {font-size: 1.4rem; font-weight: 500; color: rgba(255,255,255,0.6); padding-left: 30px; line-height: 1.8;}
.service .slide .content .hoverTxtBox .tit {color: #fff;}
.service .slide .content .hoverTxtBox .arrow {position: absolute; right: 10%; bottom: 10%; ; border-radius: 50%;}
.service .slide .content .hoverTxtBox .arrow .fa {font-size: 1.2rem; font-weight: 500; display: inline-block; width: 22px; height: 22px; border-radius: 50%; background: #fcb900; color: #191919; text-align: center; line-height: 22px;}
.service .marqueeBottom .slide .content .hoverTxtBox {text-align: left;}
    /* hover */
    .service .slide .content:hover .hoverTxtBox, .service .slide .content:focus .hoverTxtBox {opacity: 1;}




/* section.banner */
.banner {width: 100%; margin-bottom: 10vw;}
.banner .inner {width: 88%; min-width: 1485px; margin: 0 auto; position: relative;}
.banner .inner .bg {width: 100%; border-radius: 20px; filter: brightness(80%); background: url(../img/banner_customercase.png) no-repeat center/cover; height: 380px; filter: brightness(0.7);}
.banner .inner .txtBox {width: 75%; min-width: 1244px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff;}
.banner .inner .txtBox li:nth-child(1) {float: left;}
.banner .inner .txtBox li:nth-child(1) .tit {font-size: 3.8rem; font-family: 'Pretendard-Regular'; font-weight: 900; letter-spacing: 1.1px;}
.banner .inner .txtBox li:nth-child(1) .tit .br2 {display: none;}
.banner .inner .txtBox li:nth-child(2) {float: right; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.banner .inner .txtBox li:nth-child(2) .caseBtn {font-size: 1.6rem; padding: 16px 70px; background: #fff; color: #191919; border-radius: 40px; font-weight: 500; transition: all 0.3s;}

    /* hover */
    .banner .inner .txtBox li:nth-child(2):hover .caseBtn, .banner .inner .txtBox li:nth-child(2):focus .caseBtn {background: #ffe100; color: #191919;}




/* section.business */
.business {width: 100%; margin-bottom: 10vw;}
.business .inner {width: 65%; min-width: 1244px; margin: 0 auto;}
.business .inner .tit {color: #191919; font-size: 5.3rem; font-family: 'Pretendard-Regular'; font-weight: 900; letter-spacing: 1.1px; margin-bottom: 70px;}
.business .inner ul {display: flex; justify-content: space-between;}
.business .inner ul li {width: 33.333%;}
.business .inner ul li:last-child {margin-right: 0;}
.business .inner ul li h3 {font-size: 1.7rem; color: #FFB500; margin-bottom: 15px; font-weight: 500;}
.business .inner ul li .txt {font-size: 2.2rem; color: #191919; margin-bottom: 30px; font-weight: 500;}
.business .inner ul li .txt .br2, .business .inner ul li .txt .br3, .business .inner ul li .txt .br4 {display: none;}
.business .inner ul li .btn {font-size: 1.5rem; color: #888; font-weight: 400; transition: all 0.3s;}
.business .inner ul li .btn .fa {font-size: 1.0rem; font-weight: 500; display: inline-block; margin-left: 8px; width: 22px; height: 22px; border-radius: 50%; background: #eee; position: relative; text-align: center; line-height: 22px; margin-bottom: 3px; transition: all 0.1s;}
.business .inner ul li span {display: inline-block; margin-left: 8px; width: 22px; height: 22px; border-radius: 50%; background: #eee; vertical-align: middle; margin-bottom: 5px; overflow: hidden; position: relative; }
.business .inner ul li span .lnr {width: 100%; height: 100%; position: absolute; top: 0.5px; left: -0.5px; transform: rotate(-45deg); color: #888; font-size: 1.1rem; font-weight: 600; border-radius: 50%; transition: all 0.1s;}
/* hover */
.business .inner ul li .btn:hover, .business .inner ul li .btn:hover .lnr, .business .inner ul li .btn:focus, .business .inner ul li .btn:focus .lnr {color: #191919;}
.business .inner ul li .btn:hover .fa, .business .inner ul li .btn:hover span, .business .inner ul li .btn:focus .fa, .business .inner ul li .btn:focus span {background: #ffe100;}




/* section.contact */
.contact {width: 100%; height: 380px; background: #eee; position: relative; margin-bottom: 30px;}
.contact .bg {width:912px; height: 100%; position: absolute; top: 0; right: 0;}
.contact .txtBox {width: 65%; min-width: 1244px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.contact .txtBox .tit {float: left; font-size: 3.8rem; font-family: 'Pretendard-Regular'; font-weight: 900; letter-spacing: 1.1px; color: #191919;}
.contact .txtBox .btn {font-size: 1.6rem; padding: 16px 80px; background: #191919; color: #fff; border-radius: 40px; font-weight: 500; transition: all 0.3s; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}

    /* hover */
    .contact .txtBox .btn:hover, .contact .txtBox .btn:focus {background: #333;}




/* footer */
footer {width: 100%; margin-bottom: 40px;}
footer .footerInner {width: 79%; min-width: 1500px; padding: 10px 0; box-sizing: border-box; overflow: hidden; margin: 0 auto;}
/* footer .top */
footer .footerInner .top {width: 100%; margin-bottom: 70px;}
footer .footerInner .top .corp {float: left; font-size: 1.4rem; color: #191919; font-family: 'Poppins', sans-serif; font-weight: 600; letter-spacing: 0.1px;}
footer .footerInner .top .corp span {font-size: 1.2rem; display: inline-block;}
footer .footerInner .top .btn {float: right; height: 30px; line-height: 30px;}
footer .footerInner .top .btn li {float: left; text-align: center;}
footer .footerInner .top .btn li a {display: inline-block; width: 100%; font-size: 1.4rem; color: #888; font-weight: 500; text-align: center; box-sizing: border-box; padding: 0 17px; position: relative; transition: all 0.3s;}
footer .footerInner .top .btn li:nth-child(1) a {padding-left: 0; padding-right: 40px;}
footer .footerInner .top .btn li:nth-child(2) a {color: #000;}
footer .footerInner .top .btn li:nth-child(4) a {padding-right: 40px;}
footer .footerInner .top .btn li:nth-child(6) a {margin-left: 20px; text-align: left; font-size: 1.3rem;}
footer .footerInner .top .btn li a .fa {font-size: 1.8rem; font-weight: bold; position: absolute; right: 22px; top: 50%; transform: translateY(-50%);}
footer .footerInner .top .btn li a span {font-size: 2.0rem; font-weight: 500; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); display: inline-block;}
footer .footerInner .top .btn li:nth-child(6) a {width: 150px; border-radius: 20px; padding: 0 15px; background: #eee;}
/* footer .bottom */
footer .footerInner .bottom {width: auto; float: left;}
footer .footerInner .bottom li {float: left; width: 26.6px; height: 26.6px; margin-right: 18px;}
footer .footerInner .bottom li a {display: block; width: 100%; height: 100%; background: #888; border-radius: 50%; text-align: center; transition: all 0.3s; position: relative;}
footer .footerInner .bottom li a img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
footer .footerInner .bottom li.instaBtn a img {width: 60%;}
footer .footerInner .bottom li.facebookBtn a img {width: 32%;}
footer .footerInner .bottom li.blogBtn a img {width: 35%;}
footer .footerInner .bottom li.youtubeBtn a img {width: 60%;}
footer .footerInner .bottom li.chBtn a img {width: 60%;}

    /* hover */
    footer .footerInner .top .btn li:hover a, footer .footerInner .top .btn li:focus a {color: #191919;}
    footer .footerInner .bottom li:hover a, footer .footerInner .bottom li:focus a {background: #191919;}




/* responsive Web */
/* 1481px ~ 1680px */
@media screen and (max-width:1680px) {
    header .headerInner {width: 90.5%; min-width: 1304px;}
    .visual .slide li .txtBox {width: 90.5%; min-width: 1304px;}
    .news .inner, .service h2, .business .inner, .contact .txtBox {width: 75%; min-width: 1144px;}
    .news .inner {margin: 125px auto 190px;}
    .news .inner .left .newsBox1 {margin-top: 40px;}
    .news .inner .moreBtn {bottom: 9px;}
    .news .inner .newsBox .titBox .tit span br {display: none;}
    .service {margin-bottom: 9.5vw;}
    .service h2 {margin: 0 auto 67px;}
    .service .slide .content .hoverTxtBox .arrow {bottom: 15%;}
    .banner {margin-bottom: 12vw;}
    .banner .inner {width: 88vw; min-width: 1284px;}
    .banner .inner .txtBox {width: 74vw; min-width: 1124px;}
    .business {margin-bottom: 12.5vw;}
    .business .inner ul li .txt .br2 {display: none;}
    footer .footerInner {width: 90.5%; min-width: 1304px;}
}

/* 1025px ~ 1480px */
@media screen and (max-width:1480px) {
    header .headerInner .bg {height: 5vw;}
    header .headerInner {width: 93.5%; min-width: 938.75px;}
    header {height: 4.8vw; line-height: 4.8vw;}
    header .headerInner .menu {width: 42vw;}
    header .headerInner .menu li {padding: 0}
    header .headerInner .logo a {font-size: 1.2838vw;}
    header .headerInner .logo a span {font-size: 1.2500vw;}
    header .headerInner .menu li a, header .headerInner .btn a, .visual .slide li.slick-active .txtBox .moreBtn a {font-size: 1.0811vw;} 
    
    header .headerInner .btn span {width: 1.5vw; height: 1.5vw;}
    header .headerInner .btn span .lnr {font-size: 1.1vw; top: -0.2vw; left: -0.2vw;}
    .lnr-arrow-right:before {font-size: 1.1rem;}
    .visual .slide li .txtBox {width: 93.5%; min-width: 938.75px; position: absolute; left: 3.5vw;}
    .visual .slide li .txtBox {transform: translateY(-45%);}
    .visual .slide li.slick-active .txtBox h2 {font-size: 4vw; line-height: 1.2; margin-bottom: 3vw;}
    .visual .slide li .txtBox .moreBtn {width: 13.5vw;}
    .visual .slide li .txtBox .moreBtn a {padding: 0.8784vw 0; border: 2px solid #fff;}
    .visual .slick-arrow {font-size: 0.8784vw; bottom: 3.5vw;}
    .visual .slide li .counter {font-size: 0.9459vw; bottom: 3.5vw;} 
    .chIcon {width: 4vw; height: 4vw; bottom: 2vw; right: 2vw;}
    .news .inner {margin: 8vw auto 8vw; padding-bottom: 5vw;}
    .news .inner .newsBox {padding-top: 2vw; padding-bottom: 4vw; margin-bottom: 3vw;}
    .news .inner .newsBox .titBox .tit span {font-size: 1.4vw; margin-bottom: 1vw;}
    .news .inner .newsBox .titBox .tit br, .business .inner ul li .txt br {display: none;}
    .news .inner .newsBox .titBox .img {margin-bottom: 1.5vw;}
    .news .inner .newsBox .subTit {font-size: 0.9vw; margin-bottom: 1vw;}
    .news .inner .newsBox .subTit .lian {width: 2vw; height: 2vw;}
    .news .inner, .service h2, .banner .inner, .business .inner, .contact .txtBox {width: 82vw; min-width: 835.72px;}
    .banner .inner .bg {height: 23vw;}
    .news .inner .left > .titBox .img {height: auto; line-height: 4.7vw}
    .news .inner .left > .titBox .img:nth-child(1) img {width: 16vw;}
    .news .inner .left > .titBox .img:nth-child(2) img {width: 10vw;}
    .news .inner .left > .titBox .img:nth-child(3) img {width: 13vw;}
    .news .inner .left > .titBox .img:nth-child(4) img {width: 7vw;}
    .news .inner .left, .news .inner .right {width: 38vw;}
    .news .inner .newsBox .hashTag ul li {margin-right: 0.4vw; margin-bottom: 1vw;}
    .news .inner .newsBox .hashTag ul li a {font-size: 1vw;}
    .news .inner .moreBtn {bottom: 0;}
    .news .inner .moreBtn a {font-size: 1.2vw; position: relative; vertical-align: middle;}
    .news .inner .moreBtn a span {width: 3.1vw; height: 3.1vw; margin-left: 1.1vw; font-size: 1.9vw; position: absolute; right: -4vw; top: -0.5vw; line-height: 0; line-height: 2.5vw;}
    .service .marquee {margin-bottom: 2vw;}
    .service h2, .business .inner .tit {font-size: 3.2vw;}
    .service a h2 {margin-bottom: 0;}
    .service .slide .content {width: 20vw; height: 20vw;}
    .service .slide .content .tit {font-size: 1.8vw; left: 2vw; bottom: 2vw;}
    .service .slide .content .tit .smallTxt {font-size: 0.9vw;}
    .service .slide .content .hoverTxtBox .arrow {right: 1.8vw; bottom: 2vw;}
    .service .slide .content .hoverTxtBox .subTit {font-size: 1.1vw; padding-top: 2vw; padding-left: 2vw;}
    .service .slide .content .hoverTxtBox .txt {font-size: 1vw; padding-left: 2vw;}
    .service .slide .content .font {font-size: 1.6vw;}
    .business .inner .tit {margin-bottom: 5vw}
    .business .inner ul li {width: 25vw;}
    .business .inner ul li h3 {font-size: 1.1vw;}
    .business .inner ul li .txt {font-size: 1.45vw;}
    .business .inner ul li .txt .br2 {display: block;}
    .business .inner ul li .btn {font-size: 1vw;}
    .business .inner ul li .btn .fa {width: 1.5vw; height: 1.5vw; line-height: 1.5vw;}
    .business .inner ul li span {width: 1.5vw; height: 1.5vw;}
    .banner .inner .txtBox {width: 71vw; min-width: 724px;}
    .banner .inner .txtBox li:nth-child(1) .tit {font-size: 2.5vw;}
    .banner .inner .txtBox li:nth-child(2) {margin: 0; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
    .banner .inner .txtBox li:nth-child(2) .caseBtn {font-size: 1.1vw; padding: 1.1vw 3.8vw;}
    .contact {height: 23vw;}
    .contact .bg {width: 55vw;}
    .contact .txtBox .tit {font-size: 2.5vw;}
    .contact .txtBox .btn {font-size: 1.1vw; padding: 1.1vw 5vw; margin-top: 0; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
    footer {margin-bottom: 38px;}
    footer .footerInner {width: 93.5%; min-width: 938.75px;}
    footer .footerInner .top {margin-bottom: 3.5vw;}
    footer .footerInner .top .corp {font-size: 0.9vw;}
    footer .footerInner .top .btn li a {font-size: 1vw; padding: 0 1vw;}
    footer .footerInner .top .btn li a .fa {font-size: 1.2vw;}
    footer .footerInner .top .btn li:nth-child(6) a {width: 10vw; padding: 0 1.3vw; font-size: 0.9vw;}
    footer .footerInner .top .btn li a span {font-size: 1.2vw;}
    footer .footerInner .bottom li {margin-right: 1vw; width: 1.8vw; height: 1.8vw;}
}

/* 861px ~ 1024px */
@media screen and (max-width:1024px) {
    header {height: 7.4rem; line-height: 7.4rem;}
    header .headerInner {width: 92.5%; min-width: 776.69px;}
    .visual .slide li .txtBox {width: 92.5%; min-width: 776.69px; transform: translateY(-50%);}
    header .headerInner .logo a {font-size: 1.85vw;}
    header .headerInner .logo a span {font-size: 1.75vw;}
    header .headerInner .menu, header .headerInner .btn {display: none;}
    header .headerInner .gnbMo {display: block; font-size: 3.7vw; color: #fff; position: absolute; right: 0; top: 0;}
    .visual {height: 63vw;}
    .visual .slide li {height: 63vw;}
    .visual .slide .slideVideo .bg video {height: 100%;}
    .visual .slide li.slick-active .txtBox h2 {font-size: 5vw;}
    .visual .slide li .txtBox .moreBtn {width: 17.5vw;}
    .visual .slide li.slick-active .txtBox .moreBtn a {font-size: 1.5vw; padding: 1.1vw 0;}
    .visual .slick-arrow {bottom: 4.5vw;}
    .visual .slide li .counter {font-size: 1.5vw; bottom: 4.3vw;}
    .visual .slick-prev {left: 39vw;}
    .visual .slick-next {right: 39vw;}
    .news .inner .left > .titBox .img {height: auto; line-height: 6.5vw}
    .news .inner .left > .titBox .img:nth-child(1) img {width: 20vw;}
    .news .inner .left > .titBox .img:nth-child(2) img {width: 13vw;}
    .news .inner .left > .titBox .img:nth-child(3) img {width: 16vw;}
    .news .inner .left > .titBox .img:nth-child(4) img {width: 9.5vw;}
    .news .inner, .service h2, .banner .inner, .business .inner, .contact .txtBox {width: 79vw; min-width: 675.69px;}
    .news .inner .left, .news .inner .right {width: 37vw;}
    .news .inner .newsBox .subTit {font-size: 1.3vw;}
    .news .inner .newsBox .subTit .lian {width: 3vw; height: 3vw;}
    .news .inner .newsBox .titBox .tit span {font-size: 2vw;}
    .news .inner .newsBox .hashTag ul li a {font-size: 1.4vw;}
    .news .inner .moreBtn a {font-size: 1.6vw;}
    .news .inner .moreBtn a span {font-size: 2.5vw; width: 4.5vw; height: 4.5vw; line-height: 3.5vw; right: -6vw; top: -1vw;}
    .news .inner {margin: 11vw auto 15vw}
    .service .slide .content {width: 27vw; height: 27vw;}
    .service h2, .business .inner .tit {font-size: 4vw;}
    .service .slide .content .tit {font-size: 2.3vw; left: 2.5vw; bottom: 2.5vw;}
    .service .slide .content .font {font-size: 2vw;}
    .service .slide .content .tit .smallTxt {font-size: 1vw;}
    .service .slide .content .hoverTxtBox .arrow {right: 2.5vw; bottom: 2.5vw;}
    .service .slide .content .hoverTxtBox .subTit {font-size: 1.6vw; padding-top: 2.5vw; padding-left: 2.5vw;}
    .service .slide .content .hoverTxtBox .txt {font-size: 1.4vw; padding-left: 2.5vw;}
    .banner {margin-bottom: 15vw;}
    .banner .inner {width: 91vw;}
    .banner .inner .bg {height: 30vw;}
    .banner .inner .txtBox {width: 100%}
    .banner .inner .txtBox li:nth-child(1) {float: none; text-align: center; font-size: 2.9vw;}
    .banner .inner .txtBox li:nth-child(1) br {display: none;}
    .banner .inner .txtBox li:nth-child(2) {float: none; position: static; text-align: center; margin-top: 5vw;}
    .banner .inner .txtBox li:nth-child(1) .tit {font-size: 3vw;}
    .banner .inner .txtBox li:nth-child(2) .caseBtn {font-size: 1.5vw; padding: 1.4vw 5vw;}
    .business {margin-bottom: 9vw;}
    .business .inner ul {flex-wrap: wrap;}
    .business .inner ul li {width: 50%; margin-bottom: 6vw; padding-right: 4vw; box-sizing: border-box;}
    .business .inner ul li:nth-child(2) {padding-right: 0;}
    .business .inner ul li h3 {font-size: 1.6vw;}
    .business .inner ul li .txt {font-size: 1.9vw;}
    .business .inner ul li .btn {font-size: 1.5vw;}
    .business .inner ul li .txt .br2 {display: none;}
    .business .inner ul li .txt .br3 {display: block;}
    .business .inner ul li .btn .fa {width: 2vw; height: 2vw; line-height: 2vw;}
    .business .inner ul li span {width: 2vw; height: 2vw;}
    .contact {height: 29.5vw; margin-bottom: 2vw;}
    .contact .bg {width: 70vw;}
    .contact .txtBox .tit {font-size: 3.1vw; float: none; text-align: center; margin-bottom: 4vw;}
    .contact .txtBox .btn {float: none; position: static; text-align: center; font-size: 1.5vw; padding: 1.7vw 6vw; margin-left: 40%;}
    footer {height: 17vw; margin-top: 0;}
    footer .footerInner {width: 92.5%; min-width: 776.69px; height: 100%; position: relative; padding: 1.3vw 0;}
    footer .footerInner .top .btn {float: left;}
    footer .footerInner .top .btn li a {font-size: 1.4vw;}
    footer .footerInner .top .btn li a .fa {font-size: 1.8vw;}
    footer .footerInner .top .btn li:last-child {position: absolute; top: 1.3vw; right: 0;}
    footer .footerInner .top .btn li:nth-child(6) a {width: 14vw; font-size: 1.2vw;}
    footer .footerInner .top .btn li a span {font-size: 1.8vw;}
    footer .footerInner .top .corp {position: absolute; bottom: 1vw; font-size: 1.4vw;}
    footer .footerInner .bottom {position: absolute; top: 7.2vw;}
    footer .footerInner .bottom li {width: 2.6vw; height: 2.6vw; margin-right: 1.3vw;}
    .chIcon {width: 6vw; height: 6vw; bottom: 3vw; right: 3vw;}
}

/* 689px ~ 860px */
@media screen and (max-width:860px) {
    header {height: 9.5vw;}
    header .headerInner {height: 100%; line-height: 9.5vw;}
    header .headerInner, .news .inner, .service h2, .banner .inner, .business .inner, .contact .txtBox {width: 92%; min-width: 614.59px;}
    header .headerInner .logo a {font-size: 2.5vw;}
    header .headerInner .logo a span {font-size: 2.4vw;}
    header .headerInner .gnbMo {font-size: 5vw;}
    .visual {height: 70.5vw;}
    .visual .slide li {height: 70.5vw;}
    .visual .slide li .txtBox {width: 92%; min-width: 614.59px;}
    .visual .slide li.slick-active .txtBox h2 {font-size: 6vw; letter-spacing: 0.7px; margin-bottom: 4.5vw; line-height: 1.2;}
    .visual .slide li.slide3 .txtBox br {display: none;}
    .visual .slide li.slide3 .txtBox .br2 {display: block;}
    .visual .slide li .txtBox .font {font-family: 'Pretendard-Regular';}
    .visual .slide li .txtBox .moreBtn {width: 22vw;}
    .visual .slide li.slick-active .txtBox .moreBtn a {font-size: 1.9vw; padding: 1.4vw 0; letter-spacing: 1.1px; border: 3px solid #fff;}
    .visual .slick-arrow {bottom: 5.5vw;}
    .visual .slide li .counter {font-size: 2vw; bottom: 5vw;}
    .visual .slick-prev {left: 35vw;}
    .visual .slick-next {right: 35vw;}
    .news .inner .left > .titBox .img {height: auto; line-height: 6.8vw}
    .news .inner .left > .titBox .img:nth-child(1) img {width: 24vw;}
    .news .inner .left > .titBox .img:nth-child(2) img {width: 15vw;}
    .news .inner .left > .titBox .img:nth-child(3) img {width: 19vw;}
    .news .inner .left > .titBox .img:nth-child(4) img {width: 11.5vw;}
    .news .inner .left, .news .inner .right {width: 43vw;}
    .news .inner .newsBox .subTit {font-size: 1.8vw;}
    .news .inner .newsBox .subTit .lian {width: 4vw; height: 4vw; right: -45px;}
    .news .inner .newsBox .titBox .tit span {font-size: 2.5vw;}
    .news .inner .newsBox .hashTag ul li a {font-size: 1.9vw;}
    .news .inner .moreBtn a {font-size: 2vw;}
    .news .inner .moreBtn a span {font-size: 3.5vw; width: 5.5vw; height: 5.5vw; line-height: 4.5vw; right: -8vw; top: -1vw;}
    .news .inner {margin: 11vw auto 15vw; padding-bottom: 11vw;}
    .service h2, .business .inner .tit {font-size: 5.5vw; font-weight: bold; margin-bottom: 5vw;}
    .service .slide .content {width: 32vw; height: 32vw;}
    .service .slide .content .tit {font-size: 2.5vw; left: 3vw; bottom: 3vw;}
    .service .slide .content .font {font-size: 2.4vw;}
    .service .slide .content .tit .smallTxt {font-size: 1.3vw;}
    .service .slide .content .hoverTxtBox .subTit {font-size: 2vw; padding-top: 3vw; padding-left: 3vw;}
    .service .slide .content .hoverTxtBox .txt {font-size: 1.9vw; padding-left: 3vw;}
    .service .slide .content .hoverTxtBox .arrow {right: 3vw; bottom: 3.2vw;}
    .banner .inner .bg {height: 36vw; border-radius: 15px;}
    .banner .inner .txtBox li:nth-child(1) .tit {font-size: 3.9vw; margin-bottom: 6vw;}
    .banner .inner .txtBox li:nth-child(1) .tit .br2 {display: block;}
    .banner .inner .txtBox li:nth-child(2) .caseBtn {font-size: 2.1vw; padding: 1.7vw 5.5vw;}
    .business .inner ul li {width: 49%;}
    .business .inner ul li h3 {font-size: 2.2vw;}
    .business .inner ul li .txt {font-size: 2.5vw; letter-spacing: 0.9px; font-weight: 600;}
    .business .inner ul li .btn {font-size: 2.1vw;}
    .business .inner ul li .btn .fa {width: 3vw; height: 3vw; line-height: 3vw; font-size: 1.5vw; vertical-align: middle;}
    .business .inner ul li span {width: 3vw; height: 3vw;}
    .lnr-arrow-right:before {font-size: 1.6vw;}
    .business .inner ul li .txt .br3 {display: none;}
    .business .inner ul li .txt .br4 {display: block;}
    .contact {height: 35.5vw;}
    .contact .bg {width: 85.5vw;}
    .contact .txtBox .tit {font-size: 3.9vw; margin-bottom: 4vw;}
    .contact .txtBox .btn {font-size: 2.1vw; padding: 1.7vw 7.5vw; margin-left: 37%;}
    footer {height: 20vw;}
    footer .footerInner {width: 92%; min-width: 614.59px; position: relative; margin-top: 3vw;}
    footer .footerInner .top .btn li a {font-size: 1.9vw; letter-spacing: 0;}
    footer .footerInner .top .btn li a .fa {font-size: 2.2vw; bottom: 0; right: 7px;}
    footer .footerInner .top .btn li:nth-child(1) a {padding-right: 28px;}
    footer .footerInner .top .btn li:nth-child(4) a {padding-right: 28px;}
    footer .footerInner .bottom li {width: 3.5vw; height: 3.5vw; margin-right: 1.5vw;}
    footer .footerInner .bottom {position: absolute; top: 8vw;}
    footer .footerInner .top .corp {position: absolute; bottom: 01vw; font-size: 1.7vw;}
    footer .footerInner .top .btn li:nth-child(6) a {font-size: 1.6vw; width: 18vw;}
    footer .footerInner .top .btn li a span {font-size: 2.5vw;}
    .chIcon {width: 7.7vw; height: 7.7vw; bottom: 4vw; right: 4vw;}
}

/* 541px ~ 688px */
@media screen and (max-width:688px) {
    header .headerInner, .visual .slide li .txtBox, .news .inner, .service h2, .banner .inner, .business .inner, .contact .txtBox  {min-width: 478.94px;}
    header .headerInner .logo a {font-size: 2.4vw;}
    header .headerInner .logo a span {font-size: 2.3vw;}
    .visual .slide li.slide4 .txtBox br {display: block;}
    .visual .slide li.slide4 .txtBox .br2 {display: none;}
    .visual .slide li.slick-active .txtBox h2 {margin-bottom: 4vw;}
    .visual .slide li.slick-active .txtBox .moreBtn a {border: 2px solid #fff; padding: 1.5vw 0;}
    .visual .slide li .counter {bottom: 5.3vw;}
    .visual .slick-arrow::before {font-size: 1.2rem;}
    .news .inner .newsBox .titBox .img {border-radius: 10px;}
    .news .inner .newsBox .titBox .tit {line-height: 1.1;}
    .business {margin-bottom: 11vw;}
    .business .inner ul li {width: 50%;}
    .business .inner ul li .txt {font-size: 2.5vw; font-weight: 500;}
    .business .inner ul li:nth-child(3) .br4 {display: block;}
    .banner .inner .txtBox li:nth-child(1) .tit {font-size: 3.7vw;}
    footer {margin-bottom: 4.5vw;}
    footer .footerInner {min-width: 478.94px;}
    footer .footerInner .top .btn li a .fa {right: 13px; padding-top: 1px;}
}

/*  ~ 540px */
@media screen and (max-width:540px) {
    header {height: 19.5vw;}
    header .headerInner, .visual .slide li .txtBox, .news .inner, .service h2, .business .inner, .contact .txtBox {width: 87.5%; min-width: 0;}
    header .headerInner {height: 100%; line-height: 19.5vw;}
    header .headerInner .logo a {font-size: 5.2vw;}
    header .headerInner .logo a span {font-size: 5vw;}
    header .headerInner .gnbMo {font-size: 7vw;}
    .visual, .visual .slide li {height: 133.5vw;}
    .visual .slide li .txtBox {left: 6.5vw;}
    .visual .slide li .txtBox br {display: none;}
    .visual .slide li .txtBox .moreBtn {width: 38vw;}
    .visual .slide li.slick-active .txtBox .moreBtn a {font-size: 4vw; padding: 2.7vw 0;}
    .visual .slide li.slick-active .txtBox h2 {font-size: 8vw; line-height: 1.3; margin-bottom: 6vw;}
    .visual .slide li .counter {bottom: 7.2vw;}
    .visual .slide li .counter {font-size: 4.5vw;}
    .visual .slide li .counter .dot {margin-bottom: 1.3vw;}
    .visual .slick-arrow {bottom: 8.5vw;}
    .visual .slick-prev {left: 26vw;}
    .visual .slick-next {right: 26vw;}
    .visual .slick-arrow::before {font-size: 1.8rem;}
    .news .inner {margin: 20vw auto 22vw; padding-bottom: 15vw;}
    .news .inner .left > .titBox .img:nth-child(1) img {width: 42vw;}
    .news .inner .left > .titBox .img:nth-child(2) img {width: 27vw;}
    .news .inner .left > .titBox .img:nth-child(3) img {width: 33vw;}
    .news .inner .left > .titBox .img:nth-child(4) img {width: 22vw;}
    .news .inner .left > .titBox .img {line-height: 12vw;}
    .news .inner .left, .news .inner .right {float: none; width: 100%;}
    .news .inner .newsBox {width: 100%;}
    .news .inner .newsBox {padding-bottom: 7vw; margin-bottom: 5vw;}
    .news .inner .left .newsBox1 {margin-top: 1.5vw;}
    .news .inner .newsBox .subTit {font-size: 4vw; margin-bottom: 3vw; color: #666;}
    .news .inner .newsBox .subTit .lian {width: 7vw; height: 7vw;}
    .news .inner .newsBox .titBox .tit {line-height: 1.4;}
    .news .inner .newsBox .titBox .tit span {font-size: 4.8vw; font-weight: bold; margin-bottom: 4vw;}
    .news .inner .newsBox .titBox .img {border-radius: 15px; margin-bottom: 4vw;}
    .news .inner .newsBox .hashTag ul li {margin-right: 1.5vw;}
    .news .inner .newsBox .hashTag ul li a {font-size: 3.5vw;}
    .news .inner .newsBox8 {border-bottom: 1px solid #f4f4f4;}
    .news .inner .moreBtn a {font-size: 4vw;}
    .news .inner .moreBtn a span {font-size: 6vw; width: 10vw; height: 10vw; line-height: 8vw; right: -14vw; top: -2vw;}
    .service {margin-bottom: 23vw;}
    .service h2, .business .inner .tit {font-size: 8vw; margin-bottom: 8vw;}
    .service .marquee {margin-bottom: 5vw;}
    .service .slide .content {width: 55vw; height: 55vw;}
    .service .slide .content .font {font-size: 3vw; letter-spacing: -1.3px;}
    .service .slide .content .tit {font-size: 5vw; left: 5vw; bottom: 5vw;}
    .service .slide .content .tit .smallTxt {font-size: 2.6vw;}
    .service .slide .content .hoverTxtBox .arrow {right: 5vw; bottom: 6.2vw;}
    .service .slide .content .hoverTxtBox .subTit {font-size: 3.5vw; padding-top: 5vw; padding-left: 5vw;}
    .service .slide .content .hoverTxtBox .txt {font-size: 3vw; padding-left: 5vw;}
    .banner {margin-bottom: 30vw;}
    .banner .inner {width: 100%; min-width: 0;}
    .banner .inner .bg {width: 100%; border-radius: 0; height: 67.5vw; min-width: 0;}
    .banner .inner .txtBox li:nth-child(1) .tit {font-size: 6.5vw; margin-bottom: 11vw;}
    .banner .inner .txtBox {min-width: 0; width: 75vw; margin: 0 auto;}
    .banner .inner .txtBox br {display: none;}
    .banner .inner .txtBox li:nth-child(2) .caseBtn {font-size: 3.8vw; padding: 3vw 10vw;}
    .business {margin-bottom: 20vw;}
    .business .inner ul li {width: 100%; padding-right: 0; margin-bottom: 12vw;}
    .business .inner ul li h3 {font-size: 4.2vw;}
    .business .inner ul li .txt {font-size: 5vw; font-weight: 600;}
    .business .inner ul li .btn {font-size: 4vw; font-weight: 300;}
    .business .inner ul li .btn .fa {width: 5vw; height: 5vw; line-height: 5vw; font-size: 2vw;}
    .business .inner ul li span {width: 5vw; height: 5vw;}
    .business .inner ul li span .lnr {font-size: 3vw; top: -0.6vw; left: 0vw;}
    .contact {height: 58vw; width: 170%;}
    .contact .bg {width: 100%;}
    .contact .txtBox {left: 30%;}
    .contact .txtBox .tit {font-size: 6.2vw; margin-bottom: 8vw;}
    .contact .txtBox .btn {font-size: 3.8vw; padding: 3vw 12vw;}
    footer {height: 125vw; margin-bottom: 8vw;}
    footer .footerInner {min-width: 0; width: 85%;}
    footer .footerInner .top .btn {float: none; position: absolute; left: 0; top: 6vw;}
    footer .footerInner .top .btn li {float: none; display: block; margin-bottom: 2vw;}
    footer .footerInner .top .btn li a {font-size: 3.8vw; text-align: left;}
    footer .footerInner .top .btn li a .fa {font-size: 5vw; bottom: -2vw; left: 16vw;}
    footer .footerInner .top .btn li:nth-child(1) a, footer .footerInner .top .btn li:nth-child(2) a, footer .footerInner .top .btn li:nth-child(3) a, footer .footerInner .top .btn li:nth-child(4) a, footer .footerInner .top .btn li:nth-child(5) a {padding: 0;}
    footer .footerInner .top .btn li:nth-child(6) {position: relative;}
    footer .footerInner .top .btn li:nth-child(6) a {width: 80vw; font-size: 3.6vw; margin-left: 0; padding: 1.5vw 4.5vw; border-radius: 30px;}
    footer .footerInner .top .btn li a span {font-size: 6.5vw;}
    footer .footerInner .bottom {top: 103vw; left: 0;}
    footer .footerInner .bottom li {width: 10vw; height: 10vw; margin-right: 4vw;}
    footer .footerInner .top .corp {font-size: 3.5vw; bottom: 0;}
    .chIcon {width: 15.7vw; height: 15.7vw; bottom: 6.5vw; right: 6.5vw;}
}