@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans+KR&display=swap');

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
.gnbMo {display: none;}
.en {font-family: 'Exo 2', sans-serif;}
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}



.wrap {width: 100%; overflow: hidden;}
header {width: 100%; background: rgba(2,2,2,0.19); height: 100px; line-height: 100px; position: fixed; z-index: 200;}
.innerHeader {width: 1600px; margin: 0 auto;}

.innerHeader .logo {float: left;}
.innerHeader .logo a {display: block; width: 100%; height: 100%;}
.innerHeader .logo a img {width: 100%;}


.innerHeader .gnb {float: left; margin-left: 80px;}
.innerHeader .gnb li {float: left; margin-right: 80px;}
.innerHeader .gnb li a {display: block; width: 100%; height: 100%; font-size: 16px; color: #fff; text-align: center; transition: all 0.2s;}
.innerHeader .gnb li a:hover, .innerHeader .gnb li a:focus {color: #ff8342;}


.innerHeader .tnb {float: right;}
.innerHeader .tnb li {float: left; margin-right: 25px;}
.innerHeader .tnb li a {display: block; width: 100%; height: 100%; text-align: center; color: #fff; transition: all 0.5s;}
.innerHeader .tnb li a i {font-size: 20px; margin-right: 8px;}
.innerHeader .tnb li:last-child a {display: block; width: 108px; line-height: 2; margin-top: 35px; border: 1px solid #fff; border-radius: 30px;}
.innerHeader .tnb li:last-child a:hover, .innerHeader .tnb li:last-child a:focus {background: #fff; color: #ff8342;}
.innerHeader .tnb li:last-child a i {margin-left: 10px;}





/* section.visual */
.visual {width: 100%; height: 100vh; background: url(../img/vis_4.jpg) no-repeat center/cover; background-attachment: fixed;}
.visual .mainTitle {width: 1024px; margin: auto; padding-top: 330px; text-align: center; color: #fff;}
.visual .mainTitle h2 {font-size: 55px; line-height: 1.2; margin-bottom: 30px;}
.visual .mainTitle p {font-size: 25px; margin-bottom: 30px;}
.visual .mainTitle .view {display: block; font-size: 15px; width: 180px; margin: 0 auto; padding: 8px 0; border-radius: 40px; border: 1px solid #fff;}

/* splitting animation */
.visual .mainTitle h2 .char {
  display: inline-block;
  animation: slide-up 1s cubic-bezier(.10, 0, .10, 1) both; 
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-up {
  0% {transform: translateY(30px); opacity: 0;}
  80% {transform: translateY(30px); opacity: 0;}
}


/* 공통요소 */
.inner {width: 1400px; margin: 0 auto;}
.title {color: #000; text-align: center;}
.title h2 {font-size: 42px; margin-bottom: 10px; font-weight: normal;}
.title h2 span.color {color: #ff8342; margin-left: 10px;}
.title p {font-size: 18px; color: #555;}


/* 공통 animation */
@keyframes slide-up1 {
  0% {opacity: 0; transform: translateY(100px);}
  30% {opacity: 0; transform: translateY(100px);}
}

.title.motion p {animation-name: slide-up4; animation-duration: 0.5s;}

.motion .char {
  display: inline-block;
  animation: slide-up4 0.1s cubic-bezier(.5, 0, .5, 1) both; 
  animation-delay: calc(70ms * var(--char-index));
}

@keyframes slide-up4 {
  0% {transform: translateY(80px); opacity: 0;}
  30% {transform: translateY(80px); opacity: 0;}
}





/* section.about */
.about {width: 100%; background: #fff; padding: 80px 0;}
.about .inner ul {width: 100%; border-bottom: 1px solid #ddd; margin: 30px 0; display: flex;}
.about .inner ul li {width: 33.3333%;}
.about .inner ul li a {display: block; width: 100%; height: 100%;}
.about .inner ul li a p.img {width: 100%; overflow: hidden;}
.about .inner ul li a p.img img {width: 100%; transition: all 0.3s;}

/* hover */
.about .inner ul li a:hover p.img img, .about .inner ul li a:focus p.img img {transform: scale(1.3);}


.about .inner ul li a .text {width: 100%; padding: 30px; box-sizing: border-box;}
.about .inner ul li a .text h3 {font-size: 20px; margin-bottom: 10px;}
.about .inner ul li a .text p {font-size: 16px; margin-bottom: 10px;}
.about .inner ul li a .text p.more {text-transform: uppercase; font-weight: bold; padding-left: 40px; position: relative;}
.about .inner ul li a .text p.more::before {content:'\f178'; position: absolute; left: 0; top: 0; font-family: fontAwesome; font-size: 15px; width: 30px; height: 30px; border-radius: 50%; background: #ff8342; line-height: 30px;}


/* animation */
@keyframes slide-up2 {
  0% {transform: translateY(150px);}
  30% {transform: translateY(150px);}
}

.about .inner ul.motion li {animation-name: slide-up2; animation-duration: 0.7s;}
.about .inner ul.motion li:nth-child(2) {animation-name: slide-up2; animation-duration: 0.8s;}
.about .inner ul.motion li:nth-child(3) {animation-name: slide-up2; animation-duration: 0.9s;}


/* section.innovations */
.innovations {width: 100%; margin-bottom: 150px;}
.innovations .inner .imgBox {width: 100%; background: url(../img/product_1.jpg) no-repeat center/cover; position: relative; height: 540px; margin-top: 30px;}
.innovations .inner .imgBox .innerBox {background: #3a3c4e; width: 80%; position: absolute; left: 50%; bottom: -50px; transform: translateX(-50%);}
.innovations .inner .imgBox .innerBox h3 {font-size: 18px; background: #fff; padding: 25px 45px; box-sizing: border-box;}
.innovations .inner .imgBox .innerBox h3 span {color: #ff8342;}
.innovations .inner .imgBox .innerBox .bottom {padding: 35px 85px; box-sizing: border-box; color: #fff; overflow: hidden;}
.innovations .inner .imgBox .innerBox .bottom p {float: left;}
.innovations .inner .imgBox .innerBox .bottom a {float: right; display: block; background: #ff8342; padding: 7px 30px; border-radius: 50px;}

/* hover */
.innovations .inner .imgBox .innerBox .bottom a:hover, .innovations .inner .imgBox .innerBox .bottom a:focus {background: #f86010;}

/* animation */
@keyframes slide-up3 {
  0% {transform: translate(-50%, 150px);}
  30% {transform: translate(-50%, 150px);}
}
.innovations .inner .imgBox.motion .innerBox {animation-name: slide-up3; animation-duration: 0.7s;}


/* section.me */
.me {width: 100%; background: url(../img/me.jpg) no-repeat center/cover; padding: 80px 0; /*박스 상하로 넣을때는 굳이 box-sizing을 안넣어도 된다.*/ 
margin-bottom: 150px;}

/* .me ul.list */
.me ul.list {width: 100%; border-top: 2px solid #000; border-bottom: 2px solid #000; margin: 50px 0; }
.me ul.list > li {padding: 30px 60px; box-sizing: border-box;}
.me ul.list > li:nth-child(1) {border-bottom: 1px solid #ddd;}
.me ul.list > li h3 {font-size: 18px; margin-bottom: 20px;}
.me ul.list > li h3 span {margin-right: 15px; color: #ff8342;}
.me ul.list > li > p {line-height: 1.6; margin-bottom: 20px; padding-left: 33px;}
.me ul.list > li a {display: inline-block; font-weight: bold; margin-left: 3px; font-size: 14px;}
.me ul.list > li a span {margin-left: 10px; color: #ff8342;}

/* li > ul.in */
.me ul.list > li ul.in {margin-bottom: 50px;}
.me ul.list > li ul.in li {margin-bottom: 10px; overflow: hidden;} 
.me ul.list > li ul.in li em {float: left; width: 12%; font-weight: bold;}
.me ul.list > li ul.in li p {float: left; width: 88%; position: relative;}
.me ul.list > li ul.in li p::before {content: ''; position: absolute; top: 10px; left: -40px; width: 4px; height: 4px; border-radius: 50%; background: #ff8342;}

.me button {display: block; width: 280px; margin: 0 auto; background: #ff8342; border: none; padding: 10px; /*공간이 충분해서, 굳이 줄 필요없어서 boxsizing을 안줌*/
border-radius: 50px; color: #fff; cursor: pointer;}



/* animation */
.me ul.list.motion li {animation-name: slide-up2; animation-duration: 0.7s;}
.me ul.list.motion li:nth-child(2) {animation-duration: 0.8s;}
.me ul.list.motion li:nth-child(3) {animation-duration: 0.9s;}

/* section.sns */
.sns {width: 100%; margin-bottom: 60px;}
.sns ul {width: 100%; margin-top: 50px; display: flex; justify-content: space-between;}
.sns ul li {width: 32.66%;}
.sns ul li a {display: block; width: 100%; height: 100%;}
.sns ul li a p.img {width: 100%; position: relative;}
/* p.img 가상선택자 */
.sns ul li a p.img::before {content: ''; position: absolute; left: 0; top: 0; width: 0%; height: 100%; background: rgba(255,131,66,0.9); transition: all 0.5s;}
.sns ul li a p.img::after {content: 'BLOG'; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 15px; color: #fff; font-family: 'Exo 2', sans-serif; padding: 5px 30px; border: 1px solid #fff; border-radius: 40px; opacity: 0; transition: all 0.5s;}

/* hover */
.sns ul li a:hover p.img::before, .sns ul li a:focus p.img::before {width: 100%;}
.sns ul li a:hover p.img::after, .sns ul li a:focus p.img::after {opacity: 1;}


.sns ul li a p.img img {width: 100%;}


.sns ul li a .bottom {width: 100%; padding: 20px 0 20px 30px; box-sizing: border-box;}
.sns ul li a .bottom p {font-size: 18px; font-weight: bold;}
.sns ul li a .bottom p.color {color: #ff8342; font-size: 15px; font-weight: normal;}
.sns ul li a .bottom p.time {color: #999; margin-top: 30px; font-size: 15px; font-weight: normal; padding-left: 20px; position: relative;}
.sns ul li a .bottom p.time::before {content: '\f017'; font-family: fontAwesome; position: absolute; left: 0; top: 4px; font-size: 15px;}
.sns ul li a .bottom p.time span {margin-left: 5px;}


/* animation */
.sns ul.motion li {animation-name: slide-up2; animation-duration: 0.7s;}
.sns ul.motion li:nth-child(2) {animation-duration: 0.8s;}
.sns ul.motion li:nth-child(3) {animation-duration: 0.9s;}



/* footer */
footer {width: 100%; border-top: 1px solid #999; padding: 30px 0 50px;}
footer .inner {width: 1600px; overflow: hidden;}
footer .inner .ftLogo {float: left;}
footer .inner .address {float: left; margin-left: 100px;}
footer .inner .address li:first-child {font-weight: bold; margin-bottom: 10px;}
footer .inner .address li:last-child {color: #999;}

footer .inner .list {float: right;}
footer .inner .list li {float: left; margin-left: 80px;}
footer .inner .list li a {display: block; width: 100%; height: 100%; position: relative;}
footer .inner .list li a::after {content: ''; position: absolute; right: -50px; top: 10px; width: 4px; height: 4px; border-radius: 50%; background: #ccc;}




/* Responsive Web */
/* 1599~1025 */
@media screen and (max-width: 1599px) {
  .innerHeader {width: 95%; min-width: 1024px;} 
  .innerHeader .gnb {margin-left: 50px;}
  .innerHeader .gnb li {margin-right: 40px;}
  .innerHeader .tnb li {margin-right: 10px;}  
  .inner {width: 95%;}
  .me ul.list > li ul.in li p::before {left: -35px;} /* 가급적 가상선택자에는 position을 안주는 것이 좋다 */
  footer .inner {width: 95%;}
  footer .inner .address {margin-left: 60px;}
  footer .inner .list li {margin-left: 50px;}
  footer .inner .list li a::after {right: -29px;}
}


/* 1024 ~ 769*/
@media screen and (max-width: 1024px) {
  .innerHeader {width: 95%; min-width: 95%;}
  .innerHeader .gnb, .innerHeader .tnb {display: none;}
  .gnbMo {display: block; font-size: 40px; color: #fff; float: right;}
  .visual .mainTitle {width: 81%;}
  .me ul.list > li ul.in li p::before {left: -15px;}
  footer .inner .list {display: none;}
}


/* 768 ~ */
@media screen and (max-width: 768px) {
  .visual .mainTitle h2 {font-size: 44px; letter-spacing: -1px;}
  .visual .mainTitle p {font-size: 22px; margin-bottom: 50px}
  .title {letter-spacing: -1px;}
  .title h2 span.color {margin-left: 0;}
  .about {padding: 80px 0 60px;}
  .about .inner ul {flex-wrap: wrap;} /* flex는 no-wrap이 기본형 */
  .about .inner ul li {width: 100%;}
  .innovations .inner .imgBox .innerBox .bottom {padding: 30px 40px;}
  .innovations .inner .imgBox .innerBox .bottom p {margin-bottom: 20px; float: none;}
  .innovations .inner .imgBox .innerBox .bottom p .mo {display: none;}
  .innovations .inner .imgBox .innerBox .bottom a {float: none; width: 100px; text-align: center; margin: 0 auto;}
  .me {margin-bottom: 110px;}
  .me ul.list > li ul.in {padding-left: 30px; box-sizing: border-box;}
  .me ul.list > li ul.in li em {float: none; width: 100%; margin-bottom: 10px; display: block;}
  .me ul.list > li ul.in li p {float: none; width: 100%;}
  .me ul.list > li ul.in li p::before {display: none;}

  .sns ul {flex-wrap: wrap;}
  .sns ul li {width: 100%;}
  
  footer .inner .ftLogo {float: none; text-align: center; margin-bottom: 10px;}
  footer .inner .address {float: none; margin-left: 0; text-align: center;}
}

